<div class="header-brand">
  <img class="header-brand-logo" src="assets/logo.png" alt="{{ metadata.author }}">
</div>
<div class="header-tlp tlp-{{ metadata.tlp | lower }}">
  <span class="tlp-label">TLP:</span>
  <span class="tlp-value">{{ metadata.tlp }}</span>
</div>
<div class="meta-string-author" aria-hidden="true">{{ metadata.author }}</div>
